/* tampilan web tanpa bilah scroll di kanan */
::-webkit-scrollbar {
    display: none;
}

/* keseluruhan laman */
body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

/* Navigasi */
nav {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center; 
}

/* navigasi pada bagian ul*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

/*Laman isi */
main {
    display: flex;
    height: 600px;
}

/* element h2 dikhususkan untuk sub judul berada di tengah */
h2 {
    text-align: center;
}

img {    
    width: 341px;
    border-radius: 36px;
    padding: 1px;
    margin: 1px;
}
.container {
    display: flex;
    margin: 1px;
    padding: 1px;
}

/* Style input dan result */
.input-section, .result-section {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}
.result-section {
    text-align: center;
}

.input-luas, .input-keliling {
    display: table-caption;
    margin: 1px;
    padding: 1px;
}

.btn-hitung {
    background-color: mediumspringgreen;
    color: white;
    font-family: serif;
}

.btn-reset {
    background-color: red;
    color: white;
    font-family: serif;
}
