::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

nav {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center; 
}

/* navigasi pada bagian ul*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.input-section, .result-section {
    flex: 1 1 300px;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}