/* tampilan web tanpa bilah scroll di kanan */
::-webkit-scrollbar {
    display: none;
}

/* keseluruhan laman */
body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

/* Navigasi */
nav {
    width: 100%;
    color: #fff;
    padding: 1rem;
    text-align: center; 
}

/* navigasi pada bagian ul*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

/*Laman isi */
main {
    display: flex;
    height: 600px;
    margin: 10vh;
}

.img-segitiga, .img-jajar-genjang {
    text-align: center;
}

/* element h2 dikhususkan untuk sub judul berada di tengah */
h2 {
    text-align: center;
}

img {    
    width: 15rem;
    border-radius: 36px;
    padding: 1px;
    margin: 1px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

/* Style input dan result */
.input-section {
    flex: 1 1 300px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
}
.result-section {
    background-color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.input-luas, .input-keliling {
    display: table-caption;
    margin: 1px;
    padding: 1px;
    border-style: ridge;
    border-radius: 10px;
    background-color: powderblue;
}

.btn-hitung {
    background-color: mediumspringgreen;
    color: white;
    font-family: serif;
    border: none;
    border-style: double;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    transition: 0.1s;
}

.btn-reset {
    background-color: red;
    color: white;
    font-family: serif;
    border: none;
    border-style: double;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    transition: 0.1s;
}

button:hover {background-color: #0056b3;}
button:active {transform: scale(0.95);}

/*Halaman Informasi Rumus*/
.rumus {
    padding: 50px;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
}
.segitiga {
    padding: 50px;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;

}
.jajar-genjang {
    padding: 50px;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
}

/* Media query untuk perangkat dengan lebar maksimum 768px (tablet) */
@media (max-width: 768px) {
    .container-section {
        padding: 10px;
    }

    .input-section, .result-section {
        width: 100%;
        margin: 0;
    }
}

/* Media query untuk perangkat dengan lebar maksimum 480px (handphone) */
@media (max-width: 480px) {
    .input-section, .result-section {
        padding: 5px;
    }

    .input-luas, .input-keliling {
        margin-bottom: 20px;
    }
}
